html, body {
    height:100%;
}

#header {
    background-color:#336699;
    color:white;
    text-align:center;
    padding:5px;
}
#section{
    width: 100%;
    height: 880px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#leftPanel {
    height:auto;
    width:50%;
    float:left;	      
}
#rightPanel{
    width:50%;
    height:100%;
    float:left; 
}
#rightPanelDown {
    width:100%;
    height:720px;
    background-color:lightgray;
    -ms-overflow-style: none;	 	 
}
#footer {
    background-color:#336699;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
#clips{
    visibility: visible;
    height: 45px;
    overflow-y: auto;
    margin-right: 1%;
}
video{
    width: 99%;
    visibility: visible;
}
a{
    margin-right: 8px;
}
.highlight { background-color: yellow }

#leftSub {
    margin-left: 3%;
    margin-right: 3%;
    width: 52.5%;
    height: 20px;
/*    background-color:darkgray;*/
}
label{
    font-weight: bold;
}

#subtitle {
    align:center;
    text-align:center;
    height: 150px;
    border: 1px dashed #666;
    overflow-y: scroll;
/*    margin-left: 1%;
    margin-right: 1%;*/
    margin-bottom: 1%;
}

#subtitle::-webkit-scrollbar { 
  display: none;
}

li{
    list-style-type: decimal;
    line-height: 150%
}

.video-overlay {
    position: absolute;
    width: 200px;
    height: 295px;
    left: 710px;
    top: 60px;
    margin: 10px;
    padding: 5px 5px;
    font-size: 15px;
    color: #FFF;
    background-color: rgba(50, 50, 50, 0.5);
    visibility: hidden;
}

#draggableSearch {
    position: absolute;
    width: 230px;
    height: 20px;
    left: 1250px;
    top: 220px;
    margin: 10px;
    padding: 5px 5px;
    font-size: 15px;
    color: #FFF;
    background-color: rgba(50, 50, 50, 0.3);
    font-weight:bold;
    visibility: hidden;
}

#searchText{
    width: 140px;
    margin-right: 5px;
}